<template name="note">
    <div class="note">
        <form>
            <div>
                <label class="input-group-addon" id="basic-addon1">标题</label>
                <input type="text" placeholder="笔记标题...." id="noteTitle">
            </div>
            <div class="note">
                <label>内容</label>
                <textarea id="note" rows="5" cols="10"></textarea>
            </div>
            <input type="submit" id="submit" class="btn btn-success" value="发表">
        </form>

    </div>
</template>