<template name="login">
    <div class="login">
        <div class="login_form">
            <h3>管理员登陆</h3>
            <form method="post">
                <div>
                    <span>管理员</span>
                    <br>
                    <input type="text" name="adminstrator" class="input-large" id="adminstrator">
                </div>
                <div>
                    <label>密码</label>
                    <input type="password" name="passWord" class="input-large" id="passWord">
                </div>
                <div>
                    <input type="submit" id="login" class="btn btn-success Btn" value="登录">
                </div>

            </form>

        </div>

    </div>
</template>